html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

body{
    background-color: #FFE100;
}
.main{
    background-color:#CDCDCD;
}
.rightPane{
    background-color:#FF0000;
}

.navbar {
 background-color: white;
 display: flex;
 justify-content: space-between;
}
.social {
    display: flex;
    justify-content: space-between;
}
title{
    display: flex;
    justify-content: center;
}
.gallery {
    display: flex;
    justify-content: space-around;
   flex-wrap:wrap;
}
.test {
    display:flex;
    justify-content: flex-end;
    float: right;
    
}
.about1{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header{
    color: #FFFAFA;
    font-size: 50px;
    text-align: center;
    border: 10px ridge red;
}

.footer{
    margin-top: 25px;
}

.thumbnail-image2{
    width:600px;
    height: 600px;
    border: 10px groove yellow;
}
.thumbnail-image1 {
    width:400px;
    height:600px;
    border: 10px groove red;
}
.thumbnail-image3 {
    width: 700px;
    height: 500px;
    border: 10px groove white;
}
.thumbnail-image4 {
    width: 500px;
    height: 500px;
    border: 10px groove gold;
}
.navbar {
    padding: 10px;
    color: red;
}