html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

body{
    background-color: #FFE100;
}
.main{
    background-color:#CDCDCD;
}
.rightPane{
    background-color:#FF0000;
}

.navbar {
 background-color: white;
 display: flex;
 justify-content: space-between;
}
.social {
    display: flex;
    justify-content: space-between;
}
title{
    display: flex;
    justify-content: center;
}
.thumbnail-image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}